<header>
    <div id="title1">
        <h1 id ="title">Homepage</h3>
    </div>
</header>
    <body>
        <div class="exams">
            <h1><%= link_to 'EXAM 1', new_exam_path %></h1>
            <h1>Exam 2</h1>
            <h1>Exam 3</h1>
            <h1><%= link_to 'TEACHER DATABASE' , exams_path %></h>
        </div>
    </body>


