<h1 id ="title">Homepage</h3>

<div>
<button onclick="window.location.href = 'https://9a8a187433ff467cb2fe87706383b200.vfs.cloud9.us-east-2.amazonaws.com/exams/new';">Exam 1</button>
</div>

<h1>Exam 2</h1>
<h1>Exam 3</h1>
<h1>Teacher database</h1>



