<p style="font-size: 100px" "align=center">
    The student <strong><%= @exams.name %> </strong>with the school ID of <strong><%= @exams.student_number %></strong> has been entered into the system !
</p>